.login-container {
    width: 360px;
    margin: 120px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #004080;
    color: white;
    border: none;
}
