<h2>Add New Staff</h2>

<form method="post">
    PF No:<br>
    <input name="pf_no"><br><br>

    Name:<br>
    <input name="name"><br><br>

    Designation:<br>
    <input name="designation"><br><br>

    HRMS ID:<br>
<input name="hrms_id"><br><br>

Community:<br>
<input name="community"><br><br>

Date of Joining:<br>
<input type="date" name="date_of_joining"><br><br>

Date of Birth:<br>
<input type="date" name="dob"><br><br>

Date of Retirement:<br>
<input type="date" name="dor"><br><br>

Qualification:<br>
<input name="qualification"><br><br>

Mode of Appointment:<br>
<input name="mode_of_appointment"><br><br>

Mobile:<br>
<input name="mobile"><br><br>

Email:<br>
<input name="email"><br><br>

CLI Name:<br>
<input name="cli_name"><br><br>

Bill Unit:<br>
<input name="bill_unit"><br><br>



DOT:<br>
<input name="dot"><br><br>

PAN:<br>
<input name="pan"><br><br>

Aadhar:<br>
<input name="aadhar"><br><br>

Promotion Training:<br>
<input name="prom_trg"><br><br>

PME Due:<br>
<input name="pme_due"><br><br>

GR/SR Due:<br>
<input name="gr_sr_due"><br><br>

Tech Ref Due:<br>
<input name="tech_ref_due"><br><br>

Gradation:<br>
<input name="gradation"><br><br>

Date of Gradation:<br>
<input name="date_of_gradation"><br><br>

High Speed Psycho Date:<br>
<input name="high_speed_psycho_date"><br><br>

Remarks:<br>
<textarea name="remarks"></textarea><br><br>

    <button type="submit">Add</button>
</form>

<a href="/staff">Back</a>
